.btn_container{
    position: relative;
    left: 10px;
    top: 555px;
}

.positive{
    background-color: #398c39;
    color: white;
    width: 250px;
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #000000a0;
    box-sizing: content-box;
    cursor: pointer;
    display: block;
    font-family: "Titillium Web",sans-serif;
    font-size: 15px;
    line-height: 25px;
    opacity: .8;
    padding: 5px 25px;
    position: relative;
    text-align: center;
}

.negative{
    background-color: #f92c2c;
    color: white;
    width: 250px;
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #000000a0;
    box-sizing: content-box;
    cursor: pointer;
    display: block;
    font-family: "Titillium Web",sans-serif;
    font-size: 15px;
    line-height: 25px;
    opacity: .8;
    padding: 5px 25px;
    position: relative;
    text-align: center;
}

.disable{
    background-color: #8d8d8d;
    color: white;
    width: 250px;
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #000000a0;
    box-sizing: content-box;
    cursor: pointer;
    display: block;
    font-family: "Titillium Web",sans-serif;
    font-size: 15px;
    line-height: 25px;
    opacity: .8;
    padding: 5px 25px;
    position: relative;
}
