<!DOCTYPE html>
<html lang="en" >
<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"> -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d@0.2/landmark_grid.css" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.6/control_utils.css" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="../static/css/mod_control_utils.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/submit.css">
  <link rel="icon" href="favicon.ico">

  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.3/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d@0.2/control_utils_3d.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.6/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.3/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.4/pose.js" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <script>
    // Global Variables
    let cali_flag = false;
    let stats_flag = false;
    let move_flag = true;

    let calibrate_list = {
      "poseLandmark": [],
      "worldLandmark":[],
      "time":[],
    }

    let joint_list = {
      "poseLandmark": [],
      "worldLandmark":[],
      "time":[],
    }

  </script>

</head>

<body>  
  <div class="container">
    <div style = "display: flex; justify-content: center;">
      <canvas class="output_canvas"></canvas>
    </div>
    <div class="loading">
      <div class="spinner"></div>
      <div class="message">Loading...</div>
    </div>
  </div>
  
  <div id="control_panel"></div>
  
  <div class='square-box'>
    <div class="landmark-grid-container"></div>
  </div>

  <div id="btn_panel">
    <div class="btn_container">
      <!-- <button id = "walkEEnable" class=" control-panel-toggle positive" onclick="enable()">Walk-E Enabled</button> -->
      <button id = "calibrate" class="control-panel-toggle positive" onclick="get_calibrate()">Calibrate</button>
      <button id = "walkEMove" class="control-panel-toggle positive" onclick = "walkE_move()">Start</button>
      <button id = "stats" class=" control-panel-toggle positive" onclick = "get_stats()">Stats</button>
    </div>
  </div>
</body>

<script type="module" src="../static/js/main.js"></script>

<script>
  calibrate_btn = document.getElementById("calibrate");
  walkE_btn = document.getElementById("walkEMove");
  stats_btn = document.getElementById("stats");
  enable_btn = document.getElementById("walkEEnable");

  function get_calibrate(){        
    if (calibrate_btn.className == "control-panel-toggle negative") {
      walkE_btn.disabled = false;
      stats_btn.disabled = false;
      calibrate_btn.innerHTML = "Calibrate";

      calibrate_btn.className = "control-panel-toggle positive";     
      walkE_btn.className = "control-panel-toggle positive";
      stats_btn.className = "control-panel-toggle positive";

      cali_flag = false;
      
      console.log("Calibration is stopped.\n");

      ajax_data = {
        poseLandmark: JSON.stringify(calibrate_list["poseLandmark"]),
        worldLandmark: JSON.stringify(calibrate_list["worldLandmark"]),
        time: JSON.stringify(calibrate_list["time"]),
      };

      console.log(ajax_data);

      $.ajax({
        url: '/Recalibrate',
        type: "POST",
        data: ajax_data,
        success: function(result){
          console.log("Successfully Recalibrated.");
        },
        error: function(request, error){
          console.log("Error:" + error);
        }
      });

      calibrate_list = {
        "poseLandmark": [],
        "worldLandmark":[],
        "time":[],
      }
    }
    else{
      walkE_btn.disabled = true;
      stats_btn.disabled = true;
      calibrate_btn.innerHTML = "Stop Calibration";

      calibrate_btn.className = "control-panel-toggle negative";
      walkE_btn.className = "control-panel-toggle disable";
      stats_btn.className = "control-panel-toggle disable";

      cali_flag = true;

      console.log("Recalibrating...");      
    }
  };

  function walkE_move(){
    if (walkE_btn.className == "control-panel-toggle negative") {
      calibrate_btn.disabled = false;
      stats_btn.disabled = false;
      walkE_btn.innerHTML = "Start";

      calibrate_btn.className = "control-panel-toggle positive";     
      walkE_btn.className = "control-panel-toggle positive";
      stats_btn.className = "control-panel-toggle positive";   

      stats_flag = false;
    }
    else{
      calibrate_btn.disabled = true;
      stats_btn.disabled = true;
      walkE_btn.innerHTML = "Stop";

      calibrate_btn.className = "control-panel-toggle disable";    
      walkE_btn.className = "control-panel-toggle negative";
      stats_btn.className = "control-panel-toggle disable";   

      stats_flag = true;
    }

    ajax_data = {
      stats: JSON.stringify(stats_flag),
      poseLandmark: JSON.stringify(joint_list["poseLandmark"]),
      worldLandmark: JSON.stringify(joint_list["worldLandmark"]),
      time: JSON.stringify(joint_list["time"]),
    };
      
    $.ajax({
      url: '/GetStats',
      type: "POST",
      data: ajax_data,
      success: function(result){
        console.log("Successfully Calculated Stats.");

        joint_list = {
          "poseLandmark": [],
          "worldLandmark":[],
          "time":[],
        }
      }
    });

  };

  function get_stats(){
    calibrate_btn.disabled = true;
    walkE_btn.disabled = true;
    stats_btn.innerHTML = "Processing...";

    calibrate_btn.className = "control-panel-toggle disable";    
    walkE_btn.className = "control-panel-toggle disable";    
    stats_btn.className = "control-panel-toggle negative";

    ajax_data = {
        poseLandmark: JSON.stringify(joint_list["poseLandmark"]),
        worldLandmark: JSON.stringify(joint_list["worldLandmark"]),
        time: JSON.stringify(joint_list["time"]),
      };

      console.log(ajax_data);

      $.ajax({
        url: '/PlotStats',
        type: "POST",
        data: JSON.stringify,
        success: function(result){
          console.log("Successfully Calculated Stats.");
         
          let a_elem = document.createElement("a");
          a_elem.href = "/PlotStats";
          a_elem.click();
        },
        error: function(request, error){
          console.log("Error:" + error);
        }
      });
  };

  function enable(){
    if (enable_btn.className == "control-panel-toggle negative") {
      enable_btn.innerHTML = "Walk-E Enabled";
      enable_btn.className = "control-panel-toggle positive";     

      move_flag = true;
    }
    else{
      enable_btn.innerHTML = "Walk-E Disabled";
      enable_btn.className = "control-panel-toggle negative";

      move_flag = false;
    }

    console.log("walkE enable:" + String(move_flag));
  };

</script>


</html>

