<!DOCTYPE html>
<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/css/plot.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>

<body>  
    <div class = "container">
        <div class = "plot">
            <div class = flex_plot>
                <canvas id = "raw_data"></canvas>
            </div>
            <div class = "flex_plot">
                <canvas id = "segregate_data"></canvas>
            </div>
        </div>

        <div class = "plot">
            <div class = "flex_plot">
                <canvas id = "scatter_data"></canvas>
            </div>
            <div class = "flex_plot">
                <div class = "statistics">
                    <strong>Statistics</strong>
                    <ul id = "statistics">
                        <li id="cadence"></li>
                        <li id="speed"></li>
                        <li id="distance"></li>
                        <li id="stride_len"></li>
                    </ul>
                </div>
            </div>
        </div>     
        
        <div class = "plot">
            <div class = "flex_plot">
                <canvas id = "hip_flex"></canvas>
            </div>
            <div class = "flex_plot">
                <canvas id = "knee_flex"></canvas>
            </div>
            <div class = "flex_plot">
                <canvas id = "ankle_flex"></canvas>
            </div>
        </div>

        <div class = "plot">
            <div class = "flex_plot">
                <canvas id = "hip_best"></canvas>
            </div>
            <div class = "flex_plot">
                <canvas id = "knee_best"></canvas>
            </div>
            <div class = "flex_plot">
                <canvas id = "ankle_best"></canvas>
            </div>
        </div>
    </div>
</body>

<script src="../static/js/plot_stats.js"></script>
<script>   
    var stats = {{stats_Info | tojson}};
    console.log(stats);

    // Rendering Plots
    raw_data(stats, document.getElementById("raw_data"));
    segre_data(stats, document.getElementById("segregate_data"));
    supergait_data(stats, document.getElementById("scatter_data"));
    hipflex_data(stats, document.getElementById("hip_flex"), document.getElementById("hip_best"));
    kneeflex_data(stats, document.getElementById("knee_flex"), document.getElementById("knee_best"));
    ankleflex_data(stats, document.getElementById("ankle_flex"), document.getElementById("ankle_best"));  

    // Render Statistics
    document.getElementById("cadence").innerHTML = "Cadence: " + String(stats.heelY.length * 2);
    document.getElementById("speed").innerHTML = "Speed: -";
    document.getElementById("distance").innerHTML = "Estimated Distance: -";
    document.getElementById("stride_len").innerHTML = "Estimated Stride Length: -";
 
</script>

</html>

