<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.6/control_utils.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/submit.css">
  
    <!-- <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d@0.2/control_utils_3d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.6/control_utils.js" crossorigin="anonymous"></script> -->
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div style = "display: flex; justify-content: center;">
            <img src = "{{ url_for('video') }}" style = "position: fixed;"/>
        </div>
    </div>

    <div class="control-panel">
        <div class="btn_container">
          <button id = "calibrate" class="control-panel-entry control-panel-toggle positive" onclick="get_calibrate()">Calibrate</button>
          <button id = "walkEMove" class="control-panel-entry control-panel-toggle positive" onclick = "walkE_move()">Start</button>
          <button id = "stats" class="control-panel-entry control-panel-toggle positive" onclick = "get_stats()">Stats</button>
        </div>
    </div>
</body>

<!-- Streaming of Mediapipe Landmarks -->
{% for item in data %}
<script>   
    var data_string = ({{ item | tojson}}).replace("\'", "");
    var data_json = JSON.parse(data_string);
    console.log(data_json);
</script>
{% endfor %}

<script>

    calibrate_btn = document.getElementById("calibrate");
    walkE_btn = document.getElementById("walkEMove");
    stats_btn = document.getElementById("stats");

    function get_calibrate() {
        if (calibrate_btn.className == "control-panel-entry control-panel-toggle negative") {
            walkE_btn.disabled = false;
            stats_btn.disabled = false;
            calibrate_btn.innerHTML = "Calibrate";

            calibrate_btn.className = "control-panel-entry control-panel-toggle positive";
            walkE_btn.className = "control-panel-entry control-panel-toggle positive";
            stats_btn.className = "control-panel-entry control-panel-toggle positive";

            cali_flag = false;

            console.log("Calibration is stopped.\n");

            ajax_data = {
                poseLandmark: JSON.stringify(calibrate_list["poseLandmark"]),
                worldLandmark: JSON.stringify(calibrate_list["worldLandmark"]),
                time: JSON.stringify(calibrate_list["time"]),
            };

            console.log(ajax_data);

            $.ajax({
                url: '/Recalibrate',
                type: "POST",
                data: ajax_data,
                success: function (result) {
                    console.log("Successfully Recalibrated.");
                },
                error: function (request, error) {
                    console.log("Error:" + error);
                }
            });

            calibrate_list = {
                "poseLandmark": [],
                "worldLandmark": [],
                "time": [],
            }
        }
        else {
            walkE_btn.disabled = true;
            stats_btn.disabled = true;
            calibrate_btn.innerHTML = "Stop Calibration";

            calibrate_btn.className = "control-panel-entry control-panel-toggle negative";
            walkE_btn.className = "control-panel-entry control-panel-toggle disable";
            stats_btn.className = "control-panel-entry control-panel-toggle disable";

            cali_flag = true;

            console.log("Recalibrating...");
        }
    };

    function walkE_move() {
        if (walkE_btn.className == "control-panel-entry control-panel-toggle negative") {
            calibrate_btn.disabled = false;
            stats_btn.disabled = false;
            walkE_btn.innerHTML = "Start";

            calibrate_btn.className = "control-panel-entry control-panel-toggle positive";
            walkE_btn.className = "control-panel-entry control-panel-toggle positive";
            stats_btn.className = "control-panel-entry control-panel-toggle positive";

            stats_flag = false;
        }
        else {
            calibrate_btn.disabled = true;
            stats_btn.disabled = true;
            walkE_btn.innerHTML = "Stop";

            calibrate_btn.className = "control-panel-entry control-panel-toggle disable";
            walkE_btn.className = "control-panel-entry control-panel-toggle negative";
            stats_btn.className = "control-panel-entry control-panel-toggle disable";

            stats_flag = true;
        }

        $.ajax({
            url: '/move',
            type: "POST",
            data: {data: JSON.stringify(stats_flag)},
            success: function (result) {
                // calibrate_btn.disabled = false;
                // stats_btn.disabled = false;
                // walkE_btn.innerHTML = "Start";

                // calibrate_btn.className = "control-panel-entry control-panel-toggle positive";
                // walkE_btn.className = "control-panel-entry control-panel-toggle positive";
                // stats_btn.className = "control-panel-entry control-panel-toggle positive";

                // stats_flag = false;             
            },
            error: function (request, error) {
                console.log("Error:" + error);
            }
        });
    };

    function get_stats() {
        calibrate_btn.disabled = true;
        walkE_btn.disabled = true;
        stats_btn.innerHTML = "Processing...";

        calibrate_btn.className = "control-panel-entry control-panel-toggle disable";
        walkE_btn.className = "control-panel-entry control-panel-toggle disable";
        stats_btn.className = "control-panel-entry control-panel-toggle negative";

        ajax_data = {
            poseLandmark: JSON.stringify(joint_list["poseLandmark"]),
            worldLandmark: JSON.stringify(joint_list["worldLandmark"]),
            time: JSON.stringify(joint_list["time"]),
        };

        console.log(ajax_data);

        $.ajax({
            url: '/GetStats',
            type: "POST",
            data: ajax_data,
            success: function (result) {
                console.log("Successfully Calculated Stats.");

                let a_elem = document.createElement("a");
                a_elem.href = "/PlotStats";
                a_elem.click();
            },
            error: function (request, error) {
                console.log("Error:" + error);
            }
        });
    };
</script>

</html>