.plot_container {
    display: flex;
    position: relative;
    
    top: 100px;

    align-items: center;
    justify-content: center;
}

.background {
    display: flex;
    text-align: center;  
}

.plot_space {
    display: inline-block;
    position: relative;
    
    /* width: 1000px; */
    height: 794px;
}

.plot {
    display: flex;
    position: relative;
    
    justify-content: center;

    margin: 30px 60px;
    border: 5px solid black;
}
